@import "tailwindcss";

table td {
    vertical-align: top;
}
 
li{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  list-style-type:decimal;

} 

th {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  margin: 0;
  padding: 5px;
  line-height: 1.6;
  
}

.murli {
  width: 400px;
  
}

h1 {
  text-align: center;
  font-size: 56px;
  text-shadow: 15px 10px 7px #5c7b9d;
}

/* .bg-image {
  background-image: url('rajkumar.jpg');
  background-size: cover;
  background-position: center;
} */






@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  h1{
    text-align: center;
    font-size: 48px;
  }
  
  table, th, td {
    font-size: 14px;
  }
  
  li {
    padding: 0;
  }
  .murli {
    width: 280px;
  }
}


@media (max-width: 507px) {
  body {
    padding: 5px;
  }

  h1{
    text-align: center;
    font-size: 36px;
    
  }
  
  table, th, td {
    font-size: 10px;
  }
  
  li {
    padding: 0px;
  }

}

 

    