@import "tailwindcss";

table td {
    vertical-align: top;
}
 
li{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
  list-style-type:decimal;

} 

th {
  padding-left: 10px;
  padding-right: 10px;
}

body {
  margin: 0;
  padding: 5px;
  line-height: 1.6;
}




@media (max-width: 600px) {
  body {
    padding: 10px;
  }
  
  table, th, td {
    font-size: 14px;
  }
  
  li {
    padding: 0;
  }
}


@media (max-width: 450px) {
  body {
    padding: 5px;
  }
  
  table, th, td {
    font-size: 10px;
  }
  
  li {
    padding: 0px;
  }
}

 

    